{{#packageTeaserPresenter @this mods=mods flags=@root.flags}}
	<div class="o-teaser {{#each @packageTeaserPresenter.classModifiers}}package-teaser--{{this}}{{/each}}" data-o-component="o-teaser" data-trackable="teaser">

		{{> n-teaser/templates/package/partials/main-image}}

		<div class="package-teaser__content">

			{{> n-teaser/templates/package/partials/display-tag}}

			{{> n-teaser/templates/package/partials/title}}

			{{> n-teaser/templates/package/partials/package-content}}

		</div>

	</div>
{{/packageTeaserPresenter}}
