{{#if mainImage}}
	<div class="o-teaser__image-container js-teaser-image-container" data-o-component="o-video" data-o-video-id="{{id}}">
		<a href="{{{relativeUrl}}}{{{referrerTracking}}}" data-trackable="image" aria-hidden="true" tabindex="-1">
			{{#nImagePresenter srcSet=mainImage.url placeholder=mainImage.ratio colspan=colspan position=position widths=widths lazyLoad=lazyLoad wrapperClasses="o-teaser__image-placeholder" classes="o-teaser__image" sourceParam=mainImage.sourceParam}}
				{{> n-image/templates/image}}
			{{/nImagePresenter}}
		</a>
	</div>
{{/if}}
