{{#unless noTag}}
	<div class="o-teaser__meta">
		{{#if @nTeaserPresenter.genrePrefix}}
			<span class="o-teaser__tag-prefix">
				{{@nTeaserPresenter.genrePrefix}}
			</span>
		{{/if}}
		{{#if @nTeaserPresenter.teaserConcept}}
			<a href="{{{@nTeaserPresenter.teaserConcept.relativeUrl}}}" class="o-teaser__tag" data-trackable="primary-concept" aria-label="Category:{{{@nTeaserPresenter.teaserConcept.prefLabel}}}">
				{{@nTeaserPresenter.teaserConcept.prefLabel}}
			</a>
		{{/if}}
		{{#if @nTeaserPresenter.duration}}
			<time class="o-teaser__duration" datetime="{{@nTeaserPresenter.duration.iso}}">{{@nTeaserPresenter.duration.formatted}}min</time>
		{{/if}}
		{{#if advertiser}}
			<span class="o-teaser__promoted-prefix">{{promotedByPrefix}}</span>{{@nTeaserPresenter.advertiserPrefix}}<span class="o-teaser__promoted-by">{{advertiser}}</span>
		{{/if}}
	</div>
{{/unless}}
