{{#if mainImage}}
	<div class="o-teaser__image-container js-teaser-image-container">
		<a
			href="{{{relativeUrl}}}{{{referrerTracking}}}"
			data-trackable="image"
			{{#if @nTeaserPresenter.headlineTestingVariant}}data-trackable-context-headline-variant="{{{@nTeaserPresenter.headlineTestingVariant}}}"{{/if}}
			aria-hidden="true"
			tabindex="-1"
		>
			{{#ifEquals lazyLoad false}}
				{{#nImagePresenter srcSet=mainImage.url placeholder=mainImage.ratio colspan=colspan position=position widths=widths lazyLoad=false wrapperClasses="o-teaser__image-placeholder" classes="o-teaser__image" sourceParam=mainImage.sourceParam}}
					{{> n-image/templates/image}}
				{{/nImagePresenter}}
			{{else}}
				{{#nImagePresenter srcSet=mainImage.url placeholder=mainImage.ratio colspan=colspan position=position widths=widths lazyLoad=true wrapperClasses="o-teaser__image-placeholder" classes="o-teaser__image" sourceParam=mainImage.sourceParam}}
					{{> n-image/templates/image}}
				{{/nImagePresenter}}
			{{/ifEquals}}
		</a>
	</div>
{{/if}}
