//TODO: use v2 palette
$pkg-wheat: #f3dec8;
$pkg-whiter: rgba(255, 255, 255, 0.8);

$pkg-claret: #b31147;
$pkg-claretHover: #660a28;

$pkg-black: #33302d;
$pkg-blackHover: #736c65;

$pkg-slate: #252830;

$pkg-lemon: #ffec1a;
