@each $name, $theme in $pkg-themes {
	.article-teaser--#{$name} {
		.o-teaser {
			&__content {
				background: fetchColor($name, 'background');
				border-width: 0 1px 1px 1px;
				border-style: solid;
				border-color: fetchColor($name, 'border');
			}

			&--article > .o-teaser__image-container::after {
				background: fetchColor($name, 'background');
				border-width: 1px 1px 0 1px;
				border-style: solid;
				border-color: fetchColor($name, 'border');

			}

			&__meta {
				font-family: MetricWeb, sans-serif;
				color: fetchColor($name, 'tag');

				&::after {
					border-color: fetchColor($name, 'tag');
				}

				.o-teaser__tag:hover {
					color: fetchColor($name, 'linkHover');
				}
			}


			&__heading {
				font-family: MetricWeb, sans-serif;
				color: fetchColor($name, 'text');

				&:hover {
					color: fetchColor($name, 'hover');
				}
			}

			&__standfirst {
				font-family: MetricWeb, sans-serif;
				color: fetchColor($name, 'standfirst');
			}
		}
	}
}
