$pkg-themes: (
	'basic': (
		'tag': $pkg-claret,
		'text': $pkg-black,
		'hover': $pkg-blackHover,
		'link': $pkg-claret,
		'linkHover': $pkg-blackHover,
		'background': $pkg-wheat
	),
	'special-report': (
		'tag': white,
		'text': white,
		'hover': $pkg-wheat,
		'link': $pkg-whiter,
		'linkHover': $pkg-wheat,
		'background': $pkg-claret
	),
	'extra': (
		'tag': $pkg-lemon,
		'text': white,
		'hover': $pkg-lemon,
		'link': $pkg-lemon,
		'linkHover': white,
		'background': $pkg-slate
	)
);

$article-themes: (
	'basic': (
		'tag': $pkg-claret,
		'hover': $pkg-blackHover,
		'heading': $pkg-black,
		'standfirst': $pkg-claret,
		'background': $pkg-wheat
	),
	'special-report': (
		'tag': white,
		'hover': $pkg-wheat,
		'heading': white,
		'standfirst': white,
		'background': $pkg-claret
	),
	'extra': (
		'tag': $pkg-lemon,
		'hover': white,
		'heading': white,
		'standfirst': white,
		'background': $pkg-slate
	)
);

@function fetchColor($name, $property) {
	$theme: map-get($pkg-themes, $name);
	@return map-get($theme, $property);
};
