import factory from '../presenters/factory'
$ {
	factory(input, {
		template: 'extra-light',
		mods: input.mods,
		flags: out.global.flags
	});
}
<div class=input.presenter.topLevelClasses data-o-component="o-teaser" data-trackable="teaser">
	<div class="o-teaser__content">
		<if(input.isOpinion || input.brand)>
			<include('./partials/display-concept', input)/>
		</if>
		<include('./partials/title', input)/>

		{{> n-teaser/templates/partials/timestamp}}

	</div>
</div>

