import { topLevelClasses } from '../helpers'
<div class=(topLevelClasses(input, 'lifestyle')) data-o-component="o-teaser" data-trackable="teaser">
	<include('./partials/main-image', input)/>

	<div class="o-teaser__content">

		<include('./partials/display-concept', input)/>

		<include('./partials/title', input)/>

		<include('./partials/timestamp', input)/>

		<include('./partials/headshot', input)/>

	</div>

</div>
