import { topLevelClasses } from '../helpers'

<div class=(topLevelClasses(input)) data-o-component="o-teaser" data-trackable="teaser">
	<include('./partials/main-image', input)/>
	<div class="o-teaser__content">
		<include('./partials/display-concept', input)/>
		<include('./partials/title', input)/>
		<include('./partials/package-content', input)/>
	</div>
</div>
