import factory from '../presenters/factory'
$ {
	factory(input, {
		mods: input.mods,
		flags: out.global.flags
	});
}
<div class=input.presenter.topLevelClasses data-o-component="o-teaser" data-trackable="teaser">


	{{> n-teaser/templates/partials/main-image}}

	<div class="o-teaser__content">

		<include('./partials/display-concept', input)/>

		{{> n-teaser/templates/partials/title}}

		{{> n-teaser/templates/partials/package-content}}

	</div>

</div>

