import factory from '../presenters/factory'
$ {
	factory(input, {
		template: 'standard',
		mods: input.mods,
		flags: out.global.flags
	});
}
<div class=input.presenter.topLevelClasses data-o-component="o-teaser" data-trackable="teaser">


	<div class="o-teaser__content">

		<include('./partials/display-concept', input)/>

		{{> n-teaser/templates/partials/title}}

		{{> n-teaser/templates/partials/standfirst}}

		{{> n-teaser/templates/partials/timestamp}}

		{{> n-teaser/templates/partials/actions}}

		{{> n-teaser/templates/partials/headshot}}

	</div>

</div>

