import { topLevelClasses, isPlayableVideo } from '../helpers'
<div class=(topLevelClasses(input, 'top-story-standard')) data-o-component="o-teaser" data-trackable="teaser">
	<div class="o-teaser__content">

		<include('./partials/display-concept', input)/>

		<include('./partials/title', input)/>

		<include('./partials/standfirst', input)/>

		<include('./partials/timestamp', input)/>

		<include('./partials/actions', input)/>

	</div>

	<include('./partials/related-content', input)/>

</div>
