import factory from '../presenters/factory'
$ {
	factory(input, {
		template: 'top-story-heavy',
		mods: input.mods,
		flags: out.global.flags
	});
}
// also needs o-teaser--top-story o-teaser--landscape
<div class=input.presenter.topLevelClasses data-o-component="o-teaser" data-trackable="teaser">

	<div class="o-teaser__content">

		<include('./partials/display-concept', input)/>

		{{> n-teaser/templates/partials/title}}

		{{> n-teaser/templates/partials/standfirst}}

		{{> n-teaser/templates/partials/timestamp}}

		{{> n-teaser/templates/partials/actions}}

	</div>

	{{#if @nTeaserPresenter.isPlayableVideo}}
		{{> n-teaser/templates/partials/playable-video}}
	{{else}}
		{{> n-teaser/templates/partials/main-image}}
	{{/if}}

	{{> n-teaser/templates/partials/related-content}}

</div>

