import '../presenters/factory'
//{{#nTeaserPresenter @this template='top-story-heavy' mods=mods flags=@root.flags}}
<div class="o-teaser o-teaser--top-story o-teaser--landscape{{#each @nTeaserPresenter.classModifiers}} o-teaser--{{this}}{{/each}}" data-o-component="o-teaser" data-trackable="teaser">
	<div class="o-teaser__content">

		{{> n-teaser/templates/partials/display-concept}}

		{{> n-teaser/templates/partials/title}}

		{{> n-teaser/templates/partials/standfirst}}

		{{> n-teaser/templates/partials/timestamp}}

		{{> n-teaser/templates/partials/actions}}

	</div>

	{{#if @nTeaserPresenter.isPlayableVideo}}
		{{> n-teaser/templates/partials/playable-video}}
	{{else}}
		{{> n-teaser/templates/partials/main-image}}
	{{/if}}

	{{> n-teaser/templates/partials/related-content}}

</div>

