import displayTitle from './display-title';

<div class="o-teaser__heading js-teaser-heading">
	<a
		href="$!{input.relativeUrl}$!{input.referrerTracking}"
		class="js-teaser-heading-link"
		data-content-id="${input.id}"
		data-trackable="main-link"
		target=(input.type === 'promoted-content' && '_blank')>
		$!{displayTitle(input)}
	</a>
	<span class="o-labels o-labels--premium" aria-label="Premium content" if(input.isPremium)>Premium</span>
</div>
