<div class="o-grid-container">
<h1>Demos of n-teaser</h1>
{{#content}}
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M4">
			<h2>Extra light</h2>
			{{> n-teaser/templates/extra-light mods=(array 'small')}}
		</div>
		<div data-o-grid-colspan="12 M4">
			<h2>Light</h2>
			{{> n-teaser/templates/light mods=(array 'small')}}
		</div>
		<div data-o-grid-colspan="12 M4">
			<h2>Standard</h2>
			{{> n-teaser/templates/standard mods=(array 'small')}}
		</div>
		<div data-o-grid-colspan="12 M4">
			<h2>Heavy</h2>
			{{> n-teaser/templates/heavy widths="[500, 332]" lazyLoad=false mods=(array 'small')}}
		</div>
		<div data-o-grid-colspan="12 M4">
			<h2>Heavy - large</h2>
			{{> n-teaser/templates/heavy widths="[500, 332]" lazyLoad=false mods=(array 'small' 'large')}}
		</div>
		<div data-o-grid-colspan="12 M4">
			<h2>Heavy - hero</h2>
			{{> n-teaser/templates/heavy widths="[500, 332]" lazyLoad=false mods=(array 'small' 'hero')}}
		</div>
	</div>
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M4">
			<h2>Top Story Standard</h2>
			{{> n-teaser/templates/top-story-standard widths="[500, 332]" lazyLoad=false}}
		</div>
	</div>
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M6">
			<h2>Top Story Heavy</h2>
			{{> n-teaser/templates/top-story-heavy widths="[500, 332]" lazyLoad=false}}
		</div>
	</div>
	<div class="o-grid-row">
		<div data-o-grid-colspan="12 M4">
			<h2>Lifestyle</h2>
			{{> n-teaser/templates/lifestyle widths="[500, 332]" lazyLoad=false}}
		</div>
	</div>
{{/content}}
</div>
