<div class="o-teaser{{#mods}} o-teaser--{{this}}{{/mods}}" data-o-component="o-teaser" data-trackable="teaser">
	<div class="o-teaser__content">
		<h2 class="o-teaser__heading">
			<a href="{{{relativeUrl}}}{{{referrerTracking}}}" data-trackable="main-link">{{title}}</a>
		</h2>

		{{#if publishedDate}}
			<time data-o-component="o-date" class="o-date o-teaser__timestamp" data-o-date-format="time-ago-limit-4-hours" datetime="{{publishedDate}}">{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}</time>
		{{/if}}
	</div>
</div>
