{{#nTeaserPresenter @this template='extra-light' mods=mods flags=@root.flags}}
	<div class="o-teaser{{#each @nTeaserPresenter.classModifiers}} o-teaser--{{this}}{{/each}}" data-o-component="o-teaser" data-trackable="teaser{{#if tracking}}--{{tracking}}{{/if}}">
		<div class="o-teaser__content">

			{{#ifSome isOpinion brand brandConcept}}
				{{> n-teaser/templates/partials/display-concept}}
			{{/ifSome}}

			{{> n-teaser/templates/partials/title}}

			{{> n-teaser/templates/partials/timestamp}}

		</div>
	</div>
{{/nTeaserPresenter}}
