<div class="o-teaser {{#if size}}o-teaser--{{size}}{{/if}}" data-o-component="o-teaser" data-trackable="teaser">
	<div class="o-teaser__content">
		<a href="{{{tag.url}}}" class="o-teaser__tag" data-trackable="primary-tag">{{tag.name}}</a>
		<h2 class="o-teaser__heading">
			<a href="{{{url}}}" class="o-teaser__heading-link" data-trackable="main-link">{{title}}</a>
		</h2>
		{{#if summary}}
			<p class="o-teaser__standfirst">{{summary}}</p>
		{{/if}}
		{{#if lastPublished}}
		<time data-o-component="o-date" class="o-date o-teaser__timestamp" datetime="{{lastPublished}}">{{#dateformat "dddd, d mmmm, yyyy"}}{{lastPublished}}{{/dateformat}}</time>
		{{/if}}	
	</div>
	{{#if image}}
		<div class="o-teaser__image-container">
			<img src="https://next-geebee.ft.com/image/v1/images/raw/{{{encode image.url}}}?source=next&fit=scale-down&compression=best&width=500" alt="{{image.alt}}">
		</div>
	{{/if}}
</div>
