<div class="o-teaser {{#if size}}o-teaser--{{size}}{{/if}}" data-o-component="o-teaser" data-trackable="teaser">
	<div class="o-teaser__content">
		<a href="{{{tag.url}}}" class="o-teaser__tag" data-trackable="primary-tag">{{tag.name}}</a>
		<h2 class="o-teaser__heading">
			<a href="{{{url}}}" class="o-teaser__heading-link" data-trackable="main-link">{{title}}</a>
		</h2>
		{{#if summary}}
			<p class="o-teaser__standfirst">{{summary}}</p>
		{{/if}}
		{{#if lastPublished}}
		<time data-o-component="o-date" class="o-date o-teaser__timestamp" datetime="{{lastPublished}}">{{#dateformat "dddd, d mmmm, yyyy"}}{{lastPublished}}{{/dateformat}}</time>
		{{/if}}
	</div>
	{{#if image}}
		{{#presenter 'n-image/src/presenters/image' @this src=image.src srcSet=image.url placeholder=image.ratio colspan=colspan position=position widths=widths lazyLoad=true}}
			<div class="{{@image.wrapperAttrs.className}} o-teaser__image-container" style="{{@image.wrapperAttrs.style}}">
				{{#with @image.imgAttrs}}
					<img
						{{#if src}}
							src="{{src}}"
							{{#if width}} width="{{width}}"{{/if}}
							{{#if height}} height="{{height}}"{{/if}}
						{{/if}}
						{{#if data-src}} data-src="{{data-src}}"{{/if}}
						{{#if srcSet}} srcSet="{{srcSet}}"{{/if}}
						{{#if data-srcset}} data-srcset="{{data-srcset}}"{{/if}}
						{{#if sizes}} sizes="{{sizes}}"{{/if}}
						{{#if role}} role="{{role}}"{{/if}}
						alt="{{alt}}" class="{{className}}" />
				{{/with}}
			</div>
		{{/presenter}}
	{{/if}}
</div>
