<div class="o-teaser {{#if mod}}o-teaser--{{mod}}{{/if}} {{#if size}}o-teaser--{{size}}{{/if}}" data-o-component="o-teaser">
	<div class="o-teaser__content">
		<div class="o-teaser__meta">
			{{!-- This handles tag objects *and* an array due to myFT’s potential multiple topics in its stream views --}}
			{{#tag}}
				<a href="{{{url}}}" class="o-teaser__tag" data-trackable="primary-tag">{{name}}</a>
			{{/tag}}
		</div>

		<h2 class="o-teaser__heading">
			<a href="{{{url}}}" data-trackable="main-link">{{title}}</a>
		</h2>

		{{#if lastPublished}}
			<time data-o-component="o-date" class="o-date o-teaser__timestamp" data-o-date-format="time-ago-limit-4-hours" datetime="{{lastPublished}}">{{#dateformat "dddd, d mmmm, yyyy"}}{{lastPublished}}{{/dateformat}}</time>
		{{/if}}

		{{#actions}}
			<div class="o-teaser__action">
				{{{this}}}
			</div>
		{{/actions}}
	</div>
</div>
