<div class="o-teaser {{#if size}}o-teaser--{{size}}{{/if}}" data-o-component="o-teaser">
	<div class="o-teaser__content">
		<div class="o-teaser__meta">
			{{#tags}}
				<a href="{{{url}}}" class="o-teaser__tag" data-trackable="primary-tag">{{name}}</a>
			{{/tags}}
		</div>
		<h2 class="o-teaser__heading">
			<a href="{{{url}}}" class="o-teaser__heading-link" data-trackable="main-link">{{title}}</a>
		</h2>
		{{#if lastPublished}}
			<time data-o-component="o-date" class="o-date o-teaser__timestamp" datetime="{{lastPublished}}">{{#dateformat "dddd, d mmmm, yyyy"}}{{lastPublished}}{{/dateformat}}</time>
		{{/if}}
		{{#actions}}
			<div class="o-teaser__action">
				{{{this}}}
			</div>
		{{/actions}}
	</div>
</div>
