<div class="o-card o-card--opinion" data-o-component="o-card">
	<div class="o-card__content">
		<div class="o-card__meta">
			<div class="o-card__meta-image o-card__meta-image--rounded">
				{{#if img.src}}
					<img src="{{{img.src}}}" alt="{{img.alt}}"></img>
				{{else}}
					<div class="card__quote--left"></div>
					<div class="card__quote--right"></div>
				{{/if}}
			</div>
			<a href="{{{tag.href}}}" class="o-card__tag">{{tag.text}}</a>
		</div>
		<h2 class="o-card__heading"><a href="{{{heading.href}}}">{{heading.text}}</a></h2>
		<time data-o-component="o-date" class="o-date o-card__timestamp" datetime="{{datetime.raw}}">{{datetime.formatted}}</time>
	</div>
</div>