<div class="o-teaser o-teaser--opinion" data-o-component="o-teaser">
	<div class="o-teaser__content">
		<div class="o-teaser__meta">
			<div class="o-teaser__meta-image o-teaser__meta-image--rounded">
				{{#if image.url}}
					<img src="{{{image.url}}}"></img>
				{{else}}
					<div class="o-teaser__quote--left"></div>
					<div class="o-teaser__quote--right"></div>
				{{/if}}
			</div>
			<a href="{{{tag.url}}}" class="o-teaser__tag">{{tag.name}}</a>
		</div>
		<h2 class="o-teaser__heading"><a href="{{{url}}}">{{title}}</a></h2>
		<p class="o-teaser__standfirst">{{summary}}</p>
		<time data-o-component="o-date" class="o-date o-teaser__timestamp" datetime="{{lastPublished}}">{{#dateformat "dddd, d mmmm, yyyy"}}{{lastPublished}}{{/dateformat}}</time>
	</div>
</div>