{{#nTeaserPresenter @this template='standard' mods=mods}}
	<div class="o-teaser{{#each classModifiers}} o-teaser--{{this}}{{/each}}" data-o-component="o-teaser" data-trackable="teaser">
		<div class="o-teaser__content">

			<div class="o-teaser__meta">
				{{#with displayTag}}
					<a href="{{{relativeUrl}}}" class="o-teaser__tag" data-trackable="primary-tag">{{prefLabel}}</a>
				{{/with}}
			</div>

			<h2 class="o-teaser__heading">
				<a href="{{{relativeUrl}}}{{{referrerTracking}}}" data-trackable="main-link">{{title}}</a>
			</h2>

			{{#if standfirst}}
				<p class="o-teaser__standfirst">{{standfirst}}</p>
			{{/if}}

			{{#with timeObject}}
				<div class="o-teaser__timestamp">
					{{#if status}}
						<span>{{status}}<span>
					{{/if}}
					<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours" datetime="{{publishedDate}}">{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}</time>
				</div>
			{{/with}}

			{{#actions}}
				<div class="o-teaser__action">
					{{{this}}}
				</div>
			{{/actions}}

			{{#with headshot}}
				<img src="{{src}}" alt="Photo of {{alt}}" class="o-teaser__headshot">
			{{/with}}

		</div>
	</div>
{{/nTeaserPresenter}}
