{{#nTeaserPresenter @this template='top-story-heavy' mods=mods}}
	<div class="o-teaser{{#each classModifiers}} o-teaser--{{this}}{{/each}}" data-o-component="o-teaser" data-trackable="teaser">
		<div class="o-teaser__content">

			{{> @financial-times/n-teaser/templates/partials/display-tag}}

			{{> @financial-times/n-teaser/templates/partials/title}}

			{{> @financial-times/n-teaser/templates/partials/standfirst}}

			{{> @financial-times/n-teaser/templates/partials/timestamp}}

			{{> @financial-times/n-teaser/templates/partials/actions}}

		</div>

		{{> @financial-times/n-teaser/templates/partials/main-image}}

		{{> @financial-times/n-teaser/related-content}}

	</div>
{{/nTeaserPresenter}}
