<div class="o-teaser o-teaser--top-story o-teaser--standalone{{#mods}} o-teaser--{{this}}{{/mods}}{{#if image}} o-teaser--has-image{{/if}}" data-o-component="o-teaser" data-trackable="teaser">
	<div class="o-teaser__content">
		<div class="o-teaser__meta">
			{{!-- This #tag/#brand syntax handles single objects *and* arrays of objects. There could be multiple brands, or in myFT pages, multiple tags --}}
			{{#brand}}
				<a href="{{{url}}}" class="o-teaser__tag" data-trackable="primary-tag">{{name}}</a>
			{{/brand}}
			{{#tag}}
				<a href="{{{url}}}" class="o-teaser__tag" data-trackable="primary-tag">{{name}}</a>
			{{/tag}}
			{{#if advertiser}}
				<span class="o-teaser__promoted-prefix">{{promotedByPrefix}}</span> by <span class="o-teaser__promoted-by">{{advertiser}}</span>
			{{/if}}
		</div>

		<h2 class="o-teaser__heading">
			<a href="{{{relativeUrl}}}{{{referrerTracking}}}" data-trackable="main-link">{{title}}</a>
		</h2>

		{{#if standfirst}}
			<p class="o-teaser__standfirst">{{standfirst}}</p>
		{{/if}}

		{{#if publishedDate}}
			<time data-o-component="o-date" class="o-date o-teaser__timestamp" data-o-date-format="time-ago-limit-4-hours" datetime="{{publishedDate}}">{{#dateformat "dddd, d mmmm, yyyy"}}{{publishedDate}}{{/dateformat}}</time>
		{{/if}}

		{{#actions}}
			<div class="o-teaser__action">
				{{{this}}}
			</div>
		{{/actions}}
	</div>

	{{#if relatedContent}}
	<ul class="o-teaser__related">
		{{#each relatedContent}}
			<li class="o-teaser__related-item">
				<a href="{{url}}" data-trackable="related">{{title}}</a>
			</li>
		{{/each}}
	</ul>
	{{/if}}
</div>
