<div class="o-teaser o-teaser--top-story o-teaser--landscape{{#mods}} o-teaser--{{this}}{{/mods}}{{#if image}} o-teaser--has-image{{/if}}" data-o-component="o-teaser" data-trackable="teaser">
	<div class="o-teaser__content">
		{{> n-teaser/templates/partials/meta}}

		<h2 class="o-teaser__heading">
			<a href="{{{url}}}{{{referrerTracking}}}" data-trackable="main-link">{{{title}}}</a>
		</h2>

		{{#if summary}}
			<p class="o-teaser__standfirst">{{{summary}}}</p>
		{{/if}}

		{{#if lastPublished}}
			<time data-o-component="o-date" class="o-date o-teaser__timestamp" data-o-date-format="time-ago-limit-4-hours" datetime="{{lastPublished}}">{{#dateformat "dddd, d mmmm, yyyy"}}{{lastPublished}}{{/dateformat}}</time>
		{{/if}}

		{{#actions}}
			<div class="o-teaser__action">
				{{{this}}}
			</div>
		{{/actions}}
	</div>

	{{>n-teaser/templates/partials/image}}

	{{#if relatedContent}}
	<ul class="o-teaser__related">
		{{#each relatedContent}}
			<li class="o-teaser__related-item">
				<a href="{{url}}" data-trackable="related">{{title}}</a>
			</li>
		{{/each}}
	</ul>
	{{/if}}
</div>
