$yellow: #ffec1a;
$yellowLight: #fff04d;
$wheat: #f3dec8;
$claret: #b31147;
$claretDark: #660a28;

.package-teaser {
  &__content {
    background: $wheat;
    padding: 20px;
    width: calc(100% - 40px);
    position: relative;
    top: -45px;

    &::after {
      content: '';
      position: absolute;
      background: inherit;
      top: 0;
      bottom: 0;
      left: 0;
      right: -40px;
      z-index: -1;
    }
  }

  &__tag {
    font-family: 'Metric-Regular', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: $claret;

    &::after {
      content: "";
      display: block;
      width: 60px;
      margin-top: 5px;
      margin-bottom: 10px;
      border-bottom: 4px solid $claret;
    }
  }

  &__heading {
    font-family: 'Metric-Regular', sans-serif;
    font-size: 28px;
    line-height: 30px;
    > a {
      color: #333;
      text-decoration: none;
      border: none;

      &:hover{
        color: #505050;
      }
    }
  }

  &__list {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
  }

  &__list-item,
  &__landing-link {
    font-size: 18px;
    line-height: 38px;

    > a {
      text-decoration: none;
      border: 0;
      color: inherit;

      &:hover{
        color: #505050;
      }
    }
  }

  &__landing-link {
    > a {
      color: $claret;

      &:hover {
        color: $claretDark;
      }
    }
  }
}
