<if(!containedIn)>
	$ const classes = ['o-teaser__timestamp'];
	$ if (timeObject.classModifier) { classes.push(`o-teaser__timestamp--${v}`)}
	<div class=(classes)>
		<span class="o-teaser__timestamp-prefix" if(status)>${timeObject}<span>
		<time data-o-component="o-date" class="o-date" data-o-date-format="time-ago-limit-4-hours" datetime="${publishedDate}">{{#dateformat "dddd, d mmmm, yyyy"}}${publishedDate}{{/dateformat}}</time>
	</div>
</if>
